    <nav class="bg-blue-500 shadow h-full">
        <div class="max-w-7xl mx-auto px-4">
          <div class="flex justify-evenly h-16">
            <div class="flex items-center">
              <a routerLink="/" class="text-white font-bold text-xl">Dashboard</a>
            </div>
            <div class="flex items-center space-x-4 text-white">
                <a routerLink='/create-worker' class="px-3 py-2 rounded-md text-sm hover:bg-blue-700">Add worker</a>
                <a routerLink='/create-earning' class="px-3 py-2 rounded-md text-sm hover:bg-blue-700">Add earning</a>
                <a routerLink='/workers' class="px-3 py-2 rounded-md text-sm hover:bg-blue-700">List workers</a>
                <a routerLink='/earnings' class="px-3 py-2 rounded-md text-sm hover:bg-blue-700">List earnings</a>
            </div>
          </div>
        </div>
      </nav>